<a href="https://colab.research.google.com/github/ashesm/ISYS5002_PORTFOLIO1/blob/main/revision.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Exception
*try

*except

*finally

useful

*file i/o

*web scraping

*databases

In [ ]:
try:
 num1 = int(input("Please input a number? "))
 num2 = int(input("Please input another number"))
 print("Num1 divided by Num2 is" , num1/num2)
except TypeError as e:
  print(e)
except ValueError as e:
  print("Please only type in digits, not letters")
except ZeroDivisionError:
  print("the second number cannot be zero")

Please input a number? 11
Please input another number0
the second number cannot be zero

In [ ]:
try:
 num1 = int(input("Please input a number? "))
 num2 = int(input("Please input another number"))
 print("Num1 divided by Num2 is" , num1/num2)
except Exception as e: 
 print(e)

Please input a number? 11
Please input another number0
division by zero

In [ ]:
#if we cant find the error reason:
#There is an error on the following line, need to do more research to work out
#num1 = int(input("Please input a number? "))
num1 = 10
num2 = int(input("Please input another number"))
print("Num1 divided by Num2 is" , num1/num2)

Please input another number2
Num1 divided by Num2 is 5.0

#Web Scraping Tables
* 0. Install any packages need
* 1. Import libraries
* 2. Setup the URL
* 3. Get the webpage
* 4. Extract to HTML 

Important Libraries
* urllib, urllib2,urlib3 (powerful, complex)
* request(easier and use urllib underneath)
* selenium(slow...)

In [ ]:
# install requiements
!pip install kora -q

#load packages
from bs4 import BeautifulSoup
from kora.selenium import wd

     |████████████████████████████████| 57 kB 4.0 MB/s
     |████████████████████████████████| 56 kB 3.6 MB/s

In [ ]:
URL = 'https://www.abs.gov.au/statistics/economy/key-indicators'

#get the page
wd.get(URL)

# Basic HTML Structure
    <!DOCTYPE html>
    <html>
    <head>
    <title>Page Title</title>
    </head>
    <body>

    <h1>This is a Heading</h1>
    <p>This is a paragraph.</p>

    </body>
    </html> 
## Basic Table Structure
    <table>
      <tr>
        <th>Company</th>
        <th>Contact</th>
        <th>Country</th>
      </tr>
      <tr>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
      </tr>
      <tr>
        <td>Centro comercial Moctezuma</td>
        <td>Francisco Chang</td>
        <td>Mexico</td>
      </tr>
    </table>

In [ ]:
soup = BeautifulSoup(wd.page_source,"html.parser")

tables = soup.find_all('table')
len(tables)

8

In [ ]:
tbody = tables[0].find('tbody')

In [ ]:
rows = tbody.find_all('tr')

In [ ]:
columns = rows[0].find_all('td')

In [ ]:
columns[0].text

'Gross domestic product GDP, Chain volume measures - seasonally adjusted'

In [ ]:
tables = soup.find_all('table')
for table in tables:
  body = table.find('tbody')
  rows = body.find_all("tr")
  for row in rows:
   data = row.find_all('td')
   for txt in data:
    print(txt.text)
  print()

In [ ]:
tables = soup.find_all('table')
#for table in tables:
body = tables[0].find('tbody')
rows = body.find_all("tr")
for row in rows:
  data = row.find_all('td')
  for txt in data:
    print(txt.text)
  print()

Gross domestic product GDP, Chain volume measures - seasonally adjusted
Jun Qtr 2021
$m
505,134
0.7%
9.6%

Gross domestic product GDP, Chain volume measures - annual (a)
2020-21
$m
1,975,866
1.4%
na

In [ ]:
# install requiements
!pip install kora -q

#load packages
from kora.selenium import wd
import pandas as pd

# setup the URL
URL = 'https://www.abs.gov.au/statistics/economy/key-indicators'

# Get the page
wd.get(URL)

tables_as_df = pd.read_html(wd.page_source)
len(tables_as_df)

8

In [ ]:
tables_as_df[2]

                                           Indicator  ... Change same period last year
0  Retail turnover at current prices - seasonally...  ...                         -0.7
1  Actual New Capital Expenditure in volume terms...  ...                        11.5%
2  Inventories held by Private Businesses, in vol...  ...                         2.4%
3                      Total new motor vehicle sales  ...                         2.8%

[4 rows x 6 columns]